.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container{
	max-width: $maxWidth+px;
	margin: 0 auto;
	padding: 0px 10px;
}

.content{
	flex: 1 1 auto;
}

.title{
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
	letter-spacing: 0.2px;
	color: #252B42;
}
.text{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #737373;
}