.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	&.header--active{
		min-height: 36+36px;
		background-color: #fff;
	}
	&__row {
		min-height: 36+36+32px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		a{color: #252B42;}
		letter-spacing: 0.1px;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
	}

	&__list {
		display: flex;

	}

	&__item {
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.2px;
		a{color: #737373;}

		margin-left: 21px;
		&:first-child{margin: 0;}

		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	}

	&__burger {
		display: none;
	}
}



@media (max-width: 798px){
	.header__burger{
		display: inline-block;
		position: relative;
		width: 30px;
		height: 20px;
		cursor: pointer;
		&::before,
		&::after{
			content: '';
			position: absolute;
			height: 2px;
			left: 0;
			background-color: #000;
			transition: all 0.3s ease 0s;
		}
		&::before{
			top: 0;
			left: 0;
			width: 100%;
		}
		&::after{
			width: 100%;
			bottom: 0;
			right: 0;
		}
		span{
			position: absolute;
			width: 100%;
			height: 2px;
			right: 0px;
			bottom: 9px;
			background-color: #000;
			transition: all 0.4s ease 0s;
		}
	}
	.header__burger.header--active::before{
		transform: rotate(-45deg);
		top: 9px;
		width: 100%;
	}
	.header__burger.header--active::after{
		transform: rotate(45deg);
		bottom: 9px;
		width: 100%;
	}
	.header__burger.header--active span{
		left: 100%;
		opacity: 0;
	}
	.header__list{
		text-align: center;
		overflow-y: auto;

		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		top: -100%;

		display: block;
		text-align: center;
		padding-top: 50px;
		transition: all 0.3s ease 0s;

		background-color: #fff;
	}
	.header__item{
		font-size: 25px;
		text-align: center;
		margin: 0;
		padding-top: 30px;
	}
	.header__list.header--active{
		top: 0;
	}
}