// Files import <================================================================================>

@import '_reset.scss';

// Variables <================================================================================>

$maxWidth: 1200;
$md2: 767px;

// Main styles <================================================================================>

@import '_config.scss';
@import '_fonts.scss';

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

// Header <================================================================================>

@import '_header.scss';

// Ð¡ontent <================================================================================>


.main-section {
	background: url('../img/main-section-bg.jpg') 0 0/cover no-repeat;
	&__main-section{
		padding: 184px 0 40px;
	}
	&__title {
		max-width: 509px;
		font-weight: 800;
		font-size: 58px;
		line-height: 80px;
		letter-spacing: 0.2px;
		color: #252B42;
	}
	&__text {
		max-width: 376px;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.2px;
		color: #737373;

		margin-top: 35px;
	}

	&__links {
		display: flex;

		margin-top: 35px;
		font-weight: 700;
		letter-spacing: 0.2px;
		font-size: 14px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 10px 36px;

		border-radius: 37px;
	}

	&__link-first {
		min-height: 48px;
		min-width: 185px;

		background: #FFA62B;
		color: #fff;
	}
	&__link-second {
		border: 2px solid #00A0C1;
		color: #00a0c1;
		margin-left: 20px;
	}
}

// <================================================================================>

.features {
	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 30px;

		margin-top: 80px;
	}
	&__item {
	}
}
.item-features {
	background-color: #fff;
	padding: 35px 40px;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	&--active{
		background-color: #00A0C1;
	}
	&__icon{
		width: 47px;
		height: 40px;
	}
	&__title {
		color: #252B42;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;

		margin-top: 13px;
		&--active{
			color: #fff;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #737373;
		margin-top: 10px;

		&--active{
			color: #fff;
		}
	}
}



// Footer <================================================================================>

@import '_footer.scss';