// Files import <================================================================================>

@import '_reset.scss';

// Variables <================================================================================>

$maxWidth: 1200;
$md2: 767px;

// Main styles <================================================================================>

@import '_config.scss';
@import '_fonts.scss';

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

// Header <================================================================================>

@import '_header.scss';

// Ð¡ontent <================================================================================>


.main-section {
	background: url('../img/main-section-bg.jpg') 0 0/cover no-repeat;
	&__main-section{
		padding: 184px 0 40px;
	}
	&__title {
		max-width: 509px;
		font-weight: 800;
		font-size: 58px;
		line-height: 80px;
		letter-spacing: 0.2px;
		color: #252B42;
	}
	&__text {
		max-width: 376px;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.2px;
		color: #737373;

		margin-top: 35px;
	}

	&__links {
		display: flex;

		margin-top: 35px;
		font-weight: 700;
		letter-spacing: 0.2px;
		font-size: 14px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 10px 36px;

		border-radius: 37px;
	}

	&__link-first {
		min-height: 48px;
		min-width: 185px;

		background: #FFA62B;
		color: #fff;
	}
	&__link-second {
		border: 2px solid #00A0C1;
		color: #00a0c1;
		margin-left: 20px;
	}
}

// <================================================================================>

.features {
	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 30px;

		margin-top: 80px;
	}
	&__item {
	}
}

.item-features {
	background-color: #fff;
	padding: 35px 40px;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	&--active{
		background-color: #00A0C1;
	}
	&__icon{
		width: 47px;
		height: 40px;
	}
	&__title {
		color: #252B42;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;

		margin-top: 13px;
		&--active{
			color: #fff;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #737373;
		margin-top: 10px;

		&--active{
			color: #fff;
		}
	}
}


// <================================================================================>


.advantages {
	&__advantages {
		background: #FAFAFA;
		padding-top: 110px;
		padding-bottom: 80px;
	}
	&__title {
		text-align: center;
		margin: 0 auto;
		max-width: 323px;
	}
	&__text {
		text-align: center;
		margin: 0 auto;
		max-width: 511px;
	}
	&__row {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 38px;
		grid-row-gap: 38px;

		margin-top: 50px;
	}
	&__item {
		text-align: center;
	}
}

.item-advantages {
	padding: 30px 40px;
	background-color: #fff;
	&__icon {
		width: 47px;
		height: 40px;
		margin: 0 auto 20px;
	}
	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 57px;
		color: #252B42;
	}
	&__text {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #737373;
		text-transform: uppercase;

		margin-top: 10px;
	}
}

// <================================================================================>


.service {
	&__service{
		padding: 100px 0;
	}
	&__title {
		text-align: center;
		margin: 0 auto;
		max-width: 461px;
	}
	&__text {
		text-align: center;
		margin: 0 auto;
		max-width: 511px;
	}
	&__row {
		margin-top: 100px;

		display: grid;
		grid-template-columns: 60% 40%;
	}
	&__video {
		position: relative;
		max-width: 100%;
		height: 442px;
		background: url('../img/service/img.png') 0 0/cover no-repeat;
		a::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
		}
		span{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background: #00A0C1;

			position: absolute;
			top: 50%;
			right: 50%;
			transform: translateX(-50%);
			transform: translateY(-50%);
			margin-right: -50px;

			display: flex;
			align-items: center;
			justify-content: center;

			&::before{
				content: '';
				border: 15px solid transparent;
				border-left: 20px solid #fff;
				display: flex;
				align-items: center;
				justify-content: center;

				margin-right: -15px;
			}
		}

		margin-right: 50px;
	}
	&__content {


	}
}

.content-service {
	&__title {
		line-height: 57px;
		max-width: 324px;
	}
	&__text {
		margin-top: 10px;
		max-width: 330px;
	}
	&__list {
		margin-top: 50px;
	}
	&__item {
		margin-top: 40px;
		padding-left: 32+19px;
		&_1{
			background: url('../img/service/list-icons/01.svg') 0 0 no-repeat;
		}
		&_2{
			background: url('../img/service/list-icons/02.svg') 0 0 no-repeat;
		}
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #252B42;
	}
}

// <================================================================================>


.clients {
	&__section {
		padding-top: 58px;
		padding-bottom: 78px;
	}
	&__row {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 50px;
		align-items: center;
	}
	&__icons {
	}
}

// <================================================================================>


.mailing {
	background: #252B42;
	&__section {
		padding: 30px 0;
	}
	&__row {
		background: #16697A;
		padding: 30px 50px;
		border-radius: 2px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		color: #FFFFFF;

		max-width: 258px;
	}
	&__form {
	}
}

.form {
	white-space: nowrap;
	height: 60px;
	input{
		height: 100%;
		background: #F9F9F9;
		border: 1px solid #E6E6E6;
		box-sizing: border-box;
		border-radius: 5px;

		max-width: 450-117px;
		padding: 0 24px;

		font-family: "Montserrat", sans-serif;
		font: inherit;
		font-size: 17px;
		line-height: 28px;
		letter-spacing: 0.2px;
		color: #737373;
	}
	&__mail {
	}
	&__submit {
		min-height: 100%;
		background: #FFA62B;
		border-radius: 0px 5px 5px 0px;
		padding: 0px 22.5px 0;

		margin: 0 0 0px -20px;
		font-size: 14px;
		line-height: 28px;
		color: #FFFFFF;
	}
}

// <================================================================================>

.support {
	&__section {
		background-color: #F3F3F3;
		padding: 80px 0 170px;
	}
	&__title {
		text-align: center;
		margin: 0 auto;
		max-width: 300px;
	}
	&__text {
		text-align: center;
		margin: 0 auto;
		max-width: 470px;
	}
	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 20px;

		margin-top: 80px;
	}
	&__item {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: #fff;
		padding: 50px 40px;
		min-height: 333px;
		&--active{

			position: relative;
			z-index: 1;
			&::after{
				content: '';
				height: calc(100% + 80px);
				width: 100%;

				position: absolute;
				top: -40px;
				bottom: -40px;
				left: 0;
				right: 0;
				z-index: -1;
				background-color: #252B42;
			}
		}
	}
}

.item-support {
	display: flex;
	flex-direction: column;
	&__icon {
		margin-bottom: 15px;
	}
	&__mail {
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		color: #252B42;

		&--active{color: #fff;}
	}
	&__text {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #252B42;

		margin-top: 15px;

		&--active{color: #fff;}
	}
	&__link {
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		color: #FFA62B;

		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 40px;
		min-width: 140px;
		border: 2px solid #FFA62B;
		border-radius: 4px;

		margin-top: 25px;
		&--active{
			color: #fff;
			border-color: #fff;
		}
	}
}


// Footer <================================================================================>

@import '_footer.scss';