/*Reset*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;

600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------*/

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}

.content {
  flex: 1 1 auto;
}

.btn {
  display: inline-block;
  transition: 0.3s;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header.header-active {
  min-height: 72px;
  background-color: #fff;
}

.header__row {
  min-height: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  letter-spacing: 0.1px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.header__logo a {
  color: #252B42;
}

.header__list {
  display: flex;
}

.header__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-left: 21px;
  text-shadow: 1px 1px 1px white;
}

.header__item a {
  color: #737373;
}

.header__item:first-child {
  margin: 0;
}

.header__burger {
  display: none;
}

.main-section {
  background: url("../img/main-section-bg.jpg") 0 0/cover no-repeat;
}

.main-section__main-section {
  padding: 184px 0 40px;
}

.main-section__title {
  max-width: 509px;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.main-section__text {
  max-width: 376px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 35px;
}

.main-section__links {
  display: flex;
  margin-top: 35px;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
}

.main-section__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 36px;
  border-radius: 37px;
}

.main-section__link-first {
  min-height: 48px;
  min-width: 185px;
  background: #FFA62B;
  color: #fff;
}

.main-section__link-second {
  border: 2px solid #00A0C1;
  color: #00a0c1;
  margin-left: 20px;
}

.features__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 80px;
}

.item-features {
  background-color: #fff;
  padding: 35px 40px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.item-features--active {
  background-color: #00A0C1;
}

.item-features__icon {
  width: 47px;
  height: 40px;
}

.item-features__title {
  color: #252B42;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 13px;
}

.item-features__title--active {
  color: #fff;
}

.item-features__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  margin-top: 10px;
}

.item-features__text--active {
  color: #fff;
}

/*FOOTER*/